<body>
  <h1>QUI VEUT GAGNER <br>LE JACKPOT ?</h1>
  <button routerLink="/home" class="back"><h2>BACK</h2></button>
  <div id="slot-machine">
    <div id="slot-body">
      <div id="slot-frame"></div>
    </div>
  </div>
  <div class="doors">
    <div class="door left">
      <div class="boxes" [ngClass]="{'spinning': isLeftSpinning}">
        <div class="box" *ngFor="let element of leftelements">
          <img [src]="element.imageURL" alt="Image {{element.id}}">
        </div>
      </div>
    </div>
    <div class="door center">
      <div class="boxes" [ngClass]="{'spinning': isRightSpinning}">
        <div class="box" *ngFor="let element of rightelements">
          <img [src]="element.imageURL" alt="Image {{element.id}}">
        </div>
      </div>
    </div>
    <div class="door right">
      <div class="boxes" [ngClass]="{'spinning': isCenterSpinning}">
        <div class="box" *ngFor="let element of centerelements">
          <img [src]="element.imageURL" alt="Image {{element.id}}">
        </div>
      </div>
    </div>
  </div>
  
  <button class="play" (click)="startAnimation()">PLAY</button>
  <button class="stop" (click)="stopAnimation()">STOP</button>
  

  <button class="play" (click)="startAnimation()">PLAY</button>
  <button class="stop" (click)="stopAnimation()">STOP</button>
</body>

