.element-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
    position: relative;
    position: relative;
    top: 99px; left: -10%;
    width: 100%;
}
