h1 {
  text-align: center;
  font-size: 35px;
  position: relative;
  top: 5%;
}

button {
  background-color: aqua;
  box-sizing: border-box;
  padding: 5px 10px;
  box-shadow: rgb(0, 255, 255) 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 35px;
  height: 100px;
  width: 600px;
  position: relative;
  left: 34%; top: -10%;
}